


<div *ngIf="usersList">
    <p-table [value]="usersList" 
             selectionMode="single"
             [(selection)]="selectedRow"
             (onRowSelect)="onRowSelect($event['data'].name, $event.index )"> 

        <ng-template pTemplate="header">
            <tr >
                <th><h3>List of users</h3></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
            <tr [pSelectableRow]="user" [pSelectableRowIndex]="rowIndex">
                <td><h4>{{user.name}}</h4>
                    <table>
                        <tr>
                            <td *ngFor="let rule of user.notification_rules;let i = index">
                                Delay {{rule.summary}} 
                            </td>
                        </tr>
                    </table>   
                </td>
            </tr>

        </ng-template>

    </p-table>
    <div class = "row">
        <button (click)="reset()" >reset</button>
        <button (click)="getMore()" >more</button>
    </div>
</div>